@use '../abstracts' as *;

.about-us {
  padding: 50px 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--color-ui-dark);
    border-radius: var(--border-radius-xl);
    border: var(--border);
    gap: 40px;
    box-shadow: var(--box-shadow);

    @include respond-max(md) {
      flex-direction: column;
      padding: 20px;
      gap: 20px;
    }
  }

  &__image {
    width: 520px;
    height: auto;
    border-radius: var(--border-radius-lg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include respond-max(lg) {
      width: 380px;
    }
    @include respond-max(md) {
      width: 100%;
    }
  }
}
